<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Trade Data</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/7835308eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="header">
    <h1>Add Trade Data</h1>
  </div>

  <div class="sidenav">
    <title>Menu</title>
    <a>Today's Trades</a>
    <a>Add Trade</a>
    <a>Report Archive</a>
    <a>Settings</a>
  </div>

  <div class="main">
    <form>

      <label for="tradeID">Trade ID:</label>
      <input type="text" id="tradeID" name="tradeID"><br><br>

      <label for="date">Date:</label>
      <input type="date" id="tradeDate" name="tradeDate"><br><br>

      <label for="time">Time:</label>
      <input type="time" id="tradeTime" name="tradeTime"><br><br>

      <label for="productInformation">Product Information:</label>
      <input type="text" id="productInformation" name="productInformation">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="buyingPartyInformation">Buying Party Information:</label>
      <input type="text" id="buyingPartyInformation" name="buyingPartyInformation">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="sellingPartyInformation">Selling Party Information:</label>
      <input type="text" id="sellingPartyInformation" name="sellingPartyInformation">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="notionalAmount">Notional Amount:</label>
      <input type="number" id="notionalAmount" name="notionalAmount" step="0.01" min="1">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" min="1">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="maturityDate">Maturity Date:</label>
      <input type="date" id="maturityDate" name="maturityDate">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="underlyingAmount">Underlying Amount:</label>
      <input type="number" id="underlyingAmount" name="underlyingAmount" step="0.01" min="1">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="underlyingCurrency">Underlying Currency:</label>
      <select id="underlyingCurrency" name="underlyingCurrency">
        <option value="gbp">GBP</option>
        <option value="usd">USD</option>
      </select>
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <label for="strikePrice">Strike Price:</label>
      <input type="number" id="strikePrice" name="strikePrice" step="0.01" min="1">
      <div class="tooltip"><i class="fas fa-question-circle"></i>
        <span class="tooltiptext">Text</span>
      </div><br><br>

      <input type="submit" value="Add Trade">
      <input type="button" value="Cancel">

    </form>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>

</body>
</html>
