<!DOCTYPE html>
<html lang="en">
<!-- Metadata for file -->
<head>
  <title>Daily Trades Page </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/7835308eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="header">
  <h1>Derivative Trade Data</h1>
  <p>Trade Records System</p>
</div>

<div class="sidenav">
    <title>Menu</title>
    <a href="dailytrades.html">Today's Trades</a>
    <a href="addtradepage.html">Add Trade</a>
    <a href="reportarchive.html">Report Archive</a>
    <a href="settingspage.html">Settings</a>
  </div>

<div class="main">
  <button class="button button1">Add Trade</button>
  <button class="button button1">Edit Trade</button>
  <button class="button button1">Delete Trade</button>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>


</body>
</html>