<!DOCTYPE html>
<html lang="en">
<head>
  <title>Settings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/7835308eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="header">
        <h1>Settings</h1>
      </div>

      <div class="sidenav">
        <title>Menu</title>
        <a href="dailytrades.html">Trade Data</a>
        <a href="addtradepage.html">Add Trade</a>
        <a href="edittrades.html">Edit Trade</a>
        <a href="deletetrades.html">Delete Trade</a>
        <a href="settingspage.html">Settings</a>
      </div>

      <div class="main">
      </div>
    </div>
    <div class="footer">
  </div>
</div>

</body>
</html>
