<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <title>Settings</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/7835308eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'trades/style.css' %}">

  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="header">
        <h1>Settings</h1>
      </div>

      <div class="sidenav">
        <title>Menu</title>
        <a href="{% url 'trades:daily' %}">Trade Data</a>
        <a href="{% url 'trades:add' %}">Add Trade</a>


        <a href="{% url 'trades:archive' %}">Report Archive</a>
        <a href="{% url 'trades:settings' %}">Settings</a>
      </div>

      <div class="main">
      </div>
    </div>
    <div class="footer">
  </div>
</div>

</body>
</html>
